.g-border {
  border: 1px solid #ddd;
}
.g-font-red {
  color: #E74C3C;
}
.loading-area {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.loading-area .loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}
.loading-area table {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.loading-area .loading-content-area {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  line-height: 20px;
}
.loading-area .loading-content-area p {
  margin: 0;
}
.loading-area td {
  vertical-align: middle;
}
.login-area {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -336px;
}
.login {
  margin: 0 auto;
  width: 940px;
}
.login-screen {
  padding: 50px 220px 33px;
}
.login-screen h4 {
  text-align: center;
}
.form-group-rows .radio {
  color: #000000;
}
.navbar {
  background-color: #1abc9c;
  color: #ffffff;
}
.navbar .logo-area {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 12px;
  overflow: hidden;
  margin-right: 10px;
}
.navbar .logo-area img {
  width: 100%;
}
.navbar a,
.navbar a:hover {
  color: #ffffff;
  cursor: pointer;
}
.manage-area {
  margin-left: 200px;
}
.table-condition {
  margin: 10px 0;
}
.table {
  text-align: center;
}
.table caption {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-bottom: none;
}
.table caption form {
  position: relative;
}
.table caption .upload-input {
  width: 90px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.table thead > tr > th {
  border-width: 1px;
  text-align: center;
}
.course-table .table {
  border: 1px solid #ddd;
  text-align: center;
}
.course-table .table td,
.course-table .table th {
  border-left: solid 1px #ddd;
  text-align: center;
  padding: 0;
}
.course-table .table th {
  vertical-align: middle;
  border-width: 1px;
}
.course-table .table thead > tr > th {
  border-bottom: none;
  text-align: center;
}
.course-table .table tbody td {
  vertical-align: middle;
}
.course-table .table tbody td .table-cell {
  position: relative;
  min-height: 59px;
}
.course-table .table tbody td .table-cell .cell {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ECF0F1;
  top: 0;
  left: 0;
}
.course-table .table tbody td .table-cell .cell p {
  font-size: 14px;
}
.course-table .table tbody td .table-cell .temp-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2ECC71;
  top: 0;
  left: 0;
}
.J_teacher_course_list .table tbody tr td .table-cell .cell {
  cursor: pointer;
  bottom: 0;
  top: initial;
}
.operate-table {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.course-table-condition {
  margin-bottom: 20px;
}

.nav-left {
  position: absolute;
  left: 0;
  top: 45px;
}



