<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <!--<span class="logo-area">-->
                <!--<img src="images/logo.jpg" class="logo" alt="logo">-->
            <!--</span>-->
            <span class="navbar-brand">留学生综合服务与管理系统</span>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a  > 欢迎 <span ng-bind="user.name"></span></a></li>
                <li><a  ng-click="open()"  title="退出"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
            </ul>
        </nav>
    </div>
</header>
<article ui-view class="yb-page" id="containerArea"></article>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">系统提示</h3>
    </div>
    <div class="modal-body">
        确定要退出吗?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>

<!--<button class="btn btn-default" ng-click="open()">Open me!</button>-->
<!--<button class="btn btn-default" ng-click="open('lg')">Large modal</button>-->
<!--<button class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
<!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->



