<div class="login-area">
    <div class="login">
        <div class="login-screen">
            <h4>留学生综合服务与管理系统</h4>
            <!--<div class="login-icon">-->
                <!--&lt;!&ndash;<img src="images/logo.jpg" alt="留学生综合服务与管理系统">&ndash;&gt;-->
                <!--<h4>留学生综合服务与管理系统</h4>-->
            <!--</div>-->
            <form action="" ng-submit="login()">
                <div class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" ng-model="account" ng-blur="accountBlur()" placeholder="账号" maxlength="11" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" ng-model="password"  maxlength="25" placeholder="密码" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div class="form-group-rows" ng-init="userType?userType=userType:userType=1">
                        <span class="radio-inline">
                            <label class="radio">
                                <input type="radio" name="optionsRadios"  value="1" data-toggle="radio" ng-model="userType" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                学生
                            </label>
                        </span>
                        <span class="radio-inline">
                            <label class="radio">
                                <input type="radio" name="optionsRadios"  value="2" data-toggle="radio" ng-model="userType" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                教师
                            </label>
                        </span>

                        <span class="radio-inline">
                            <label class="radio">
                                <input type="radio" name="optionsRadios"  value="3" data-toggle="radio" ng-model="userType" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                管理员
                            </label>
                        </span>

                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>

