
<form action="" class="upload-area"  id="upload-course-form">
    <button type="button" class="btn btn-success "  >上传课程</button>
    <input type="file" name="uploadFile" class="upload-input" id="updateCourseData">
</form>
<a class="btn btn-success " href="http://7xrr3l.com1.z0.glb.clouddn.com/courseTem.xlsx">下载模板</a>

<div class="table-area J_course_list">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>课程名</th>
            <th>所属专业</th>
            <th>起始周</th>
            <th>结束周</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td ng-bind="row.name"></td>
            <td ng-bind="row.professionName"></td>
            <td ng-bind="'第'+row.startWeek+'周'"></td>
            <td ng-bind="'第'+row.endWeek+'周'"></td>
        </tr>
        </tbody>
    </table>
</div>


<!--<pagination total-items="bigTotalItems" ng-change="pageChanged(page)"  ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>-->
