<div class="table-area J_arrange_list">
    <div class="course-table">
        <div class="table-condition">
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
                    <span ng-bind="currentCourse.name"></span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="course in courseList"><a ng-bind="course.name" ng-click="choice(course)"></a></li>
                </ul>
            </div>
        </div>
        <div id="activity" class="arrange-table-area"></div>
    </div>
    <div class="J_student_list_area">
        <div class="cover"></div>
        <div class="main">
            <div>
                <button class="btn btn-success btn-sm J_sureSelectStudent">确定</button><button class="btn btn-sm btn-cancel J_closeSelectStudent">关闭</button>
            </div>
            <div class="list-area">

            </div>
        </div>
    </div>
</div>