<div class="table-area J_teacher_course_list">
    <div class="course-table">
        <table class="table table-bordered J_course_table">
            <thead>
            <tr>
                <th><div>时间段</div></th>
                <th><div>节次</div></th>
                <th><div>星期一</div></th>
                <th><div>星期二</div></th>
                <th><div>星期三</div></th>
                <th><div>星期四</div></th>
                <th><div>星期五</div></th>
                <th><div>星期六</div></th>
                <th><div>星期日</div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-row="1" data-period="1">
                <th rowspan="5"><div class="table-col">上午</div></th>
                <td>1</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="2" data-period="1">
                <!--<th rowspan="5"></th>-->
                <td>2</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="3" data-period="1">
                <!--<th rowspan="5"></th>-->
                <td>3</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="4" data-period="1">
                <!--<th rowspan="5"></th>-->
                <td>4</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="5" data-period="1">
                <!--<th rowspan="5"></th>-->
                <td>5</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="6" data-period="2">
                <th rowspan="4"><div class="table-col">下午</div></th>
                <td>6</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="7" data-period="2">
                <!--<th rowspan="5"></th>-->
                <td>7</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="8" data-period="2">
                <!--<th rowspan="5"></th>-->
                <td>8</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="9" data-period="2">
                <!--<th rowspan="5"></th>-->
                <td>9</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="10" data-period="3">
                <th rowspan="3"><div class="table-col">晚上</div></th>
                <td>10</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="11" data-period="3">
                <!--<th rowspan="5"></th>-->
                <td>11</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            <tr data-row="12" data-period="3">
                <!--<th rowspan="5"></th>-->
                <td>12</td>
                <td data-col="1"><div class="table-cell"></div></td>
                <td data-col="2"><div class="table-cell"></div></td>
                <td data-col="3"><div class="table-cell"></div></td>
                <td data-col="4"><div class="table-cell"></div></td>
                <td data-col="5"><div class="table-cell"></div></td>
                <td data-col="6"><div class="table-cell"></div></td>
                <td data-col="7"><div class="table-cell"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>